<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.empserver.mapper.EmployeeDetailMapper">
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <cache-ref namespace="com.empserver.mapper.TitleMapper"/>

    <resultMap id="employeesDetailResultMap" type="EmployeeDetail">
        <id property="employeeNo" column="emp_no"/>
        <result property="birthDate" column="birth_date"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="gender" column="gender"/>
        <result property="hireDate" column="hire_date"/>
        <association property="title" javaType="Title">
            <id property="employeeNo" column="emp_no"/>
            <result property="title" column="title"/>
            <result property="fromDate" column="from_date"/>
            <result property="toDate" column="to_date"/>
        </association>
        <collection property="salaries" ofType="Salary">
            <result property="employeeNo" column="emp_no"/>
            <result property="salary" column="salary"/>
            <result property="fromDate" column="from_date"/>
            <result property="toDate" column="to_date"/>
        </collection>
    </resultMap>

    <!--<select id="selectById" parameterType="long" resultMap="employeesDetailResultMap" flushCache="true">-->
    <!--select E.emp_no,-->
    <!--E.birth_date,-->
    <!--E.first_name,-->
    <!--E.last_name,-->
    <!--E.gender,-->
    <!--E.hire_date,-->
    <!--T.title,-->
    <!--T.from_date,-->
    <!--T.to_date,-->
    <!--S.salary,-->
    <!--S.from_date,-->
    <!--S.to_date-->
    <!--from employees E-->
    <!--left outer join titles T on T.emp_no = E.emp_no-->
    <!--left outer join salaries S on S.emp_no = T.emp_no-->
    <!--where E.emp_no = #{id}-->
    <!--</select>-->

    <resultMap id="employeesDetailResultMap1" type="EmployeeDetail">
        <id property="employeeNo" column="emp_no"/>
        <result property="birthDate" column="birth_date"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="gender" column="gender"/>
        <result property="hireDate" column="hire_date"/>
        <association property="title" column="emp_no" javaType="Title"
                     select="com.empserver.mapper.TitleMapper.selectById"/>
        <collection property="salaries" column="emp_no" ofType="Salary" select="selectSalary"/>
    </resultMap>

    <!--<resultMap id="titleResultMap" type="Title">-->
    <!--<id property="employeeNo" column="emp_no"/>-->
    <!--<result property="title" column="title"/>-->
    <!--<result property="fromDate" column="from_date"/>-->
    <!--<result property="toDate" column="to_date"/>-->
    <!--</resultMap>-->

    <resultMap id="salaryResultMap" type="Salary">
        <result property="employeeNo" column="emp_no"/>
        <result property="salary" column="salary"/>
        <result property="fromDate" column="from_date"/>
        <result property="toDate" column="to_date"/>
    </resultMap>

    <select id="selectById" parameterType="long" resultMap="employeesDetailResultMap1">
        select emp_no, birth_date, first_name, last_name, gender, hire_date
        from employees
        where emp_no = #{id}
    </select>

    <select id="selectSalary" parameterType="long" resultMap="salaryResultMap">
        SELECT emp_no, salary, from_date, to_date
        FROM salaries
        WHERE emp_no = #{id}
    </select>

    <!--<select id="selectTitle" parameterType="long" resultMap="titleResultMap">-->
    <!--SELECT emp_no, title, from_date, to_date-->
    <!--FROM titles-->
    <!--WHERE emp_no = #{id}-->
    <!--</select>-->
    <!--<cache/>-->

</mapper>